
/**** Kristine's code starts here ****/


// <!-- Filter for categories -->
.selected-products-category-filter {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-right: 20px;
        color: $theme-sec-color-hot-pink;
        cursor: pointer;

        &:hover,
        &:active {
            color: black;
        }

        &.isSelected {
            font-style: $bodyff;
            font-weight: bold;
            color: black;
            text-decoration: underline;
            text-decoration-color: $theme-sec-color-hot-pink;;
        }
    }
}



/**** Kristine's code finishes here ****/