// colors
$theme-primary-color: black ;
$theme-sec-color: grey;

$box-shadow: 5px 10px 10px #888888;



// typography / fonts
$headerff: 'Sen', sans-serif;
$bodyff: 'Noto Sans', sans-serif;
$btnff : 'Lora', serif;
