// colors
$theme-primary-color-light-pink: #FFDFF0 ;
$theme-sec-color-hot-pink: #F7268A;
$theme-form-background-color: #FFFFFF;
$theme-accent-color: #2B2B2B;
$theme-cake-color: #F4CEF8;
$theme-donut-color: #FEE9DC;
$theme-donut-accent-color: #FF7A00;
$theme-accessories-color: #ADC2C6;
$theme-accessories-accent-color:#213D85;

$box-shadow: 3px 3px 3px #FFDFF0;



// typography / fonts
$headerff: 'Sen', sans-serif;
$bodyff: 'Noto Sans', sans-serif;
$btnff : 'Lora', serif;

