@import "reset";
@import "variables";
@import "nav";
@import "productCard";
@import "categoryFilters";



// ************   code from Pearly start -->


// === style profile page
.container-bg-color {
  background-color : $theme-primary-color-light-pink;
}

.profile-container-size {
  width: 100%;
  height: auto;
}

.fas {
  color : $theme-sec-color-hot-pink;
  font-size: 3rem;
  cursor : pointer;
}

.fas:hover {
  color : $theme-accent-color;
}

.fa-star {
  color : $theme-sec-color-hot-pink;
  font-size: 1rem;
}


.profile-img-size {
  width : 250px;
  height : 250px;
}

// ==== style the form (update profile form)
.text-color {
  color: $theme-sec-color-hot-pink;
  @extend .font-style;
}

.font-style {
  font-family: $bodyff;
}

.my-close-btn-style {
  font-size : 2rem;
  @extend .fas;

}

.form-bg-image {
  background-image: url('../images/image-edit-profile-background.jpg');

}

.border-color {
  border : 1px solid $theme-primary-color-light-pink;
}

.extra-radius {
  border-radius: 20px;
}

.product-img-size {
  max-width : 250px;
}

.dropshadow{
  box-shadow: $box-shadow;
}

//  style listing form
.fa-user-circle {
//  display: none;
  @extend .fas;

}

.fa-user-circle:hover, {
  color : $theme-form-background-color;
}

.fa-camera {
  color : $theme-primary-color-light-pink;
}

.fa-bread-slice {
  font-size: 15px;
}

.my-btn-style {
  background-color: $theme-sec-color-hot-pink;
  padding-left : 25px;
  padding-right : 25px;
  @extend .font-style;
}

.btn-link:hover {
  color : $theme-accent-color;
}


.form-bg-image-2 {
  background-image: url('../images/image-add-listing-background.jpg');
}

.flex-container {
  display : flex;
  justify-content: flex-start;
}
//  style listing form end

.hover-effect:hover {
  color : $theme-primary-color-light-pink;
}

.text-color-two {
  color: $theme-accessories-accent-color;
}

// style product card display - profile page
.wrapper {
  position: relative;
  width: 80%;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: $theme-primary-color-light-pink;
  overflow: hidden;
  width: 75%;
  height: 0;
  transition: .5s ease;
  border-radius: 20px;
}

.wrapper:hover .overlay {
  height: 100%;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
// style product card display end


.my-dropdown {
  background-color: $theme-sec-color-hot-pink;
  width: 150px;

}
//


// mobile display only
@media only screen and (max-width: 768px){

  .desktop-display-text {
    display : none;
  }

   .vertical-rl {
     writing-mode: vertical-rl;
     display: inline-block;
   }

//Kristine
   .catagory-button {
     width: 320px;
     height: 150px;
     border: 5px solid $theme-sec-color-hot-pink;
     border: 2px solid white;
     font-family: $bodyff;
     font-weight: bold;
     font-size: 35px;
     color: $theme-sec-color-hot-pink;
     background: none;
   }


   .category-image {
    display: none;
  }

  .cake-image {
    background-image:url('../images/image-cake-mobile-cut.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 160px 4px;
  }

  .donut-image {
    background-image:url('../images/image-donut-mobile-cut.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
  }

  .cookies-image {
    background-image:url('../images/image-cookie-mobile-cut.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 170px 22px;
  }


}

// desktop display only
@media only screen and (min-width: 768px){
  .flex-container {
    display: block;
  }

  //Kristine
  .catagory-button {
    width: 320px;
    height: 150px;
    margin-right: 25px;
    border: none;
    font-family: $bodyff;
    font-weight: bold;
    font-size: 100px;
    color: white;
    // background-image:url('../images/image-login-mobile-background.jpg');
  }

  .cake-image, .donut-image, .cookies-image {
    background: none;
  }

}



  // code from Pearly end -->



/**** Kristine's code starts here ****/

//homeview styling starts here

.homeview-container {
  background-image:url('../images/image-login-mobile-background.jpg');
  width: 100%;
  height: auto;
}

.treatme-header {
  padding: 16px;
  background-color: $theme-accent-color;
}

.treatme-logo {
  width: 164px;
  height: auto;
}



// .form-control {
//   width: 320px;
//   font-family: $bodyff;
//   border: none;
//   color: $theme-sec-color-hot-pink;
// }

//Selected Products View starts here
.selectedProductsView {
  background-color: $theme-primary-color-light-pink;
}

/**** Kristine's code finishes here ****/


// code from Vandy start -->
.makeCenter {
  display: block;
  margin: auto;
}

.formText{
  color : $theme-sec-color-hot-pink;
}

.loginBtnBackground{
  background-color : $theme-sec-color-hot-pink;
}

.comment-outline{
  border: 2px solid $theme-primary-color-light-pink;
}

.register-border {
  border : 2px solid $theme-sec-color-hot-pink;
}

.btn-hover:hover {
  color : white;
}
// code from Vandy end -->
