@import "reset";
@import "variables";
@import "nav";




// code from Pearly start -->

#portfolio-container {
  background-color : $theme-primary-color-light-pink;
}

.fa-user-circle {
  color : $theme-sec-color-hot-pink;
  font-size: 3rem;
}


.fa-user-circle:hover {
  color : $theme-form-background-color;
}

.size {
  width: 100%;
  height: 1200px;
}


  // code from Pearly end -->
